<div class="align-items-center mt-3 mb-3">
  <h2 class="my-3">Courses</h2>
  <p>
    Please Login or Register to join a Course. Once joined proceed to you
    profile to start learning.
  </p>
  <% if (loggedIn && currentUser.isAdmin) { %>
  <div class="my-3">
    <a class="btn btn-secondary" href="/courses/new">Add Course</a>
  </div>
  <% } %>
  <div id="coursesIndex"></div>
</div>
