<div class="align-items-center mt-3 mb-3">
  <h2 class="my-3">Courses</h2>
  <% if (loggedIn) { %>
  <div class="my-3">
    <a class="btn btn-secondary" href="/courses/new">Add Course</a>
  </div>
  <% } %>
  <div id="coursesIndex"></div>
</div>
