<form
  class="form-signin"
  action="<%=`/courses/create`%>"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="row align-items-center mb-3 mt-3">
    <div class="container py-3">
      <h2 class="form-signin-heading">Add new course:</h2>
      <hr />
    </div>

    <div class="col-lg-6">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="imgInp"
          name="image"
          required
        />
        <label class="custom-file-label" for="imgInp">Choose file...</label>
      </div>
      <img id="img-upload" />
    </div>
    <div class="col-lg-6">
      <div class="data-form">
        <input
          type="text"
          name="title"
          id="inputTitle"
          class="form-control my-3"
          placeholder="Title"
          autofocus
        />
        <input
          type="text"
          name="description"
          id="inputDescription"
          class="form-control my-3"
          placeholder="Description"
        />
        <input
          type="text"
          name="author"
          id="inputAuthor"
          class="form-control my-3"
          placeholder="Author"
        />
        <input
          type="text"
          name="embedUrl"
          id="inputEmbedUrl"
          class="form-control my-3"
          placeholder="Youtube Embed URL"
        />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
