<div class="row align-items-center mb-3 mt-3">
  <div class="col-lg-7">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="/images/people.jpg"
      alt=""
    />
  </div>
  <div class="col-lg-5">
    <div class="data-form">
      <form
        class="form-signin"
        action="<%=`/courses/create`%>"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="form-signin-heading">Add new course:</h2>
        <input
          type="text"
          name="title"
          id="inputTitle"
          class="form-control my-3"
          placeholder="Title"
          autofocus
        />
        <input
          type="text"
          name="description"
          id="inputDescription"
          class="form-control my-3"
          placeholder="Description"
        />
        <input
          type="text"
          name="zipCode"
          id="inputZipCode"
          pattern="[0-9]{5}"
          class="form-control my-3"
          placeholder="Zip Code"
          required
        />
        <input
          type="text"
          name="maxStudents"
          id="inputMaxStudents"
          pattern="\d*"
          class="form-control my-3"
          placeholder="Max Students"
          required
        />
        <input
          type="text"
          name="cost"
          id="inputCost"
          pattern="\d*"
          class="form-control my-3"
          placeholder="Cost"
          required
        />
        <input
          type="file"
          name="image"
          id="inputImage"
          class="form-control my-3"
          placeholder="Image"
          required
        />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
