<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="images/product.jpg" alt="" />
    </div>
    <div class="col-sm-6">
      <h1 class="title pb-5">Learn to cook cutting edge food</h1>
      <h3>Our Courses:</h3>
      <% offeredCourses.forEach(course => { %>
      <h5><%= course.title %></h5>
      <p>$<%= course.cost %></p>
      <% }); %>
      <a href="/contact">Contact Us</a> today!
    </div>
  </div>
</div>
