<div class="row align-items-center my-5">
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="images/cat.jpg" alt="" />
  </div>
  <div class="col-lg-6">
    <h1 class="font-weight-light">
      Oops! Something went wrong, or the page you are looking for is not
      available.
    </h1>
    <a class="btn btn-primary" href="/">Homepage</a>
  </div>
</div>
