<% if (loggedIn) { %>
    <a href="<%=`courses/${course._id}/edit`%>"> Edit</a>
    <a
      href="<%= `courses/${course._id}/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete this record?')"
      >Delete</a
    >
    <% } else { %>
    <a class="btn btn-primary btn-sm" style="width: 80px; color: #fff; cursor: pointer;">Join</a></span
      >
    <% } %>

    <!-- <div class="row display-1">
      <div class="col-4" style="color: #f14a29;">
        <i class="fab fa-html5"></i>
      </div>
      <div class="col-4" style="color: #2962ff;">
        <i class="fab fa-css3-alt"></i>
      </div>
      <div class="col-4" style="color: #d6ba32;">
        <i class="fab fa-js-square"></i>
      </div>
    </div>
    <div class="row display-1">
      <div class="col-4" style="color: #5ed4f4;">
        <i class="fab fa-react"></i>
      </div>
      <div class="col-4" style="color: #88c24a;">
        <i class="fab fa-node-js"></i>
      </div>
      <div class="col-4" style="color: #bd022e;">
        <i class="fab fa-angular"></i>
      </div>
    </div>
    <div class="row display-1">
      <div class="col-4" style="color: #3fb37f;">
        <i class="fab fa-vuejs"></i>
      </div>
      <div class="col-4" style="color: #ef2b1f;">
        <i class="fab fa-laravel"></i>
      </div>
      <div class="col-4" style="color: #171516;">
        <i class="fab fa-github-square"></i>
      </div>
    </div> -->

    <% if(user.subscribedAccount != undefined) { %>
      <h4 class="center">
        This user has a
        <a href="<%=`/subscribers/${user.subscribedAccount}`%>">
          subscribed account</a
        >.
      </h4>
      <% } %>

      <!-- 
        // fetch("/courses?format=json").then((res) => {
//   res.json().then((data) => {
//     var c = data;
//     c.length = 3;
//     if (c.length > 0) {
//       c.sort(function (a, b) {
//         return new Date(a.date) - new Date(b.date);
//       });
//       var temp = "";
//       data.forEach((course) => {
//         temp += `
//                 <div class="col-lg-4 mb-2">
//                   <div class="card">
//                     <img class="card-img-top" src="${course.image}" alt="Card image cap" />
//                     <div class="card-body">
//                     <h5 class="card-title"><a href="/courses/${course._id}">${course.title}</a></h5>
//                     <p class="card-text">${course.description}</p>
//                     </div>
//                     <div class="card-body">
//                       <button class="btn btn-primary btn-block join-button" data-id="${course._id}" style="cursor: pointer; color: #fff;">Join</button>
//                     </div>
//                   </div>
//                 </div>
//           `;
//       });
//     }
//     document.getElementById("latestCourses").innerHTML = temp;
//   });
// });

// let joinBtnListener = () => {
//   $(".join-button").click((event) => {
//     let $button =
//   })
// }
       -->