<% if (loggedIn) { %>
    <a href="<%=`courses/${course._id}/edit`%>"> Edit</a>
    <a
      href="<%= `courses/${course._id}/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete this record?')"
      >Delete</a
    >
    <% } else { %>
    <a class="btn btn-primary btn-sm" style="width: 80px; color: #fff; cursor: pointer;">Join</a></span
      >
    <% } %>