<% if (loggedIn) { %>
    <a href="<%=`courses/${course._id}/edit`%>"> Edit</a>
    <a
      href="<%= `courses/${course._id}/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete this record?')"
      >Delete</a
    >
    <% } else { %>
    <a class="btn btn-primary btn-sm" style="width: 80px; color: #fff; cursor: pointer;">Join</a></span
      >
    <% } %>

    <!-- <div class="row display-1">
      <div class="col-4" style="color: #f14a29;">
        <i class="fab fa-html5"></i>
      </div>
      <div class="col-4" style="color: #2962ff;">
        <i class="fab fa-css3-alt"></i>
      </div>
      <div class="col-4" style="color: #d6ba32;">
        <i class="fab fa-js-square"></i>
      </div>
    </div>
    <div class="row display-1">
      <div class="col-4" style="color: #5ed4f4;">
        <i class="fab fa-react"></i>
      </div>
      <div class="col-4" style="color: #88c24a;">
        <i class="fab fa-node-js"></i>
      </div>
      <div class="col-4" style="color: #bd022e;">
        <i class="fab fa-angular"></i>
      </div>
    </div>
    <div class="row display-1">
      <div class="col-4" style="color: #3fb37f;">
        <i class="fab fa-vuejs"></i>
      </div>
      <div class="col-4" style="color: #ef2b1f;">
        <i class="fab fa-laravel"></i>
      </div>
      <div class="col-4" style="color: #171516;">
        <i class="fab fa-github-square"></i>
      </div>
    </div> -->

    <% if(user.subscribedAccount != undefined) { %>
      <h4 class="center">
        This user has a
        <a href="<%=`/subscribers/${user.subscribedAccount}`%>">
          subscribed account</a
        >.
      </h4>
      <% } %>