<div class="row align-items-center my-4">
  <div class="col-lg-6">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="images/people.jpg"
      alt=""
    />
  </div>
  <div class="col-lg-6">
    <h1 class="font-weight-light">Welcome to DEV Hub!</h1>
    <p>
      This is a template that is great for small businesses. It doesn't have too
      much fancy flare to it, but it makes a great use of the standard Bootstrap
      core components.
    </p>
    <p>
      Feel free to use this template for any project you want! Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Maxime quae vitae voluptatum!
      Officia dolor, qui earum laborum ex corporis id alias error, esse
      accusantium quae.
    </p>
    <a class="btn btn-primary" href="#">Call to Action!</a>
  </div>
</div>

<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">
      This call to action card is a great place to showcase some important
      information or display a clever tagline!
    </p>
  </div>
</div>

<!-- Featured Courses -->
<div class="container pb-3">
  <h1 class="text-center">Latest Courses</h1>
  <hr />
</div>
<div class="row my-3 pb-3" id="latestCourses"></div>
