<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DEV Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/small-business.css" />
    <link rel="stylesheet" href="/css/coursesImgUpload.css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark d-flex align-self-start py-3"
    >
      <div class="container">
        <a class="navbar-brand text-white">DEV Hub</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribers/new">Contact</a>
            </li>
            <% if (loggedIn) { %>
            <li class="nav-item">
              <a class="nav-link" href="/subscribers">Subscribers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary" href="/users/logout">Logout</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="btn btn-secondary" href="/users/login">Login</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    <div class="alert">
      <% if (flashMessages) { %> <% if (flashMessages.success) { %>
      <div class="alert alert-success">
        <%= flashMessages.success %>
      </div>
      <% } else if (flashMessages.error) { %>
      <div class="alert alert-danger">
        <%= flashMessages.error %>
      </div>
      <% } %> <% } %>
    </div>

    <!-- Page Content -->
    <div class="container">
      <%- body %>
    </div>

    <!-- Footer -->
    <br />
    <footer class="footer bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2019
        </p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/coursesImgUpload.js"></script>
    <script src="/js/courses/latestCourses.js"></script>
  </body>
</html>
