<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.8, maximum-scale=1"
    />
    <title>Kitchen Hub</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/kitchen_hub.css" />
  </head>

  <body>
    <div><%- include("partials/navigation") %></div>
    <div><%- body %></div>
  </body>
</html>
