<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone/Mobile</th>
      </tr>
    </thead>
    <tbody>
      <% subscribers.forEach(s => { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.email %></td>
        <td><%= s.telNumber %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
