<div class="row align-items-center mb-3 mt-3">
  <div class="col-lg-6">
    <div class="data-form">
      <form class="form-signin" action="send" method="POST">
        <h2 class="form-signin-heading">Contact Us</h2>

        <input
          type="text"
          name="name"
          id="inputName"
          class="form-control my-3"
          placeholder="Name"
          autofocus
        />
        <input
          type="email"
          name="email"
          id="inputEmail"
          class="form-control my-3"
          placeholder="Email address"
          required
        />
        <textarea
          type="text"
          name="contactMsg"
          id="inputMessage"
          class="form-control my-3"
          placeholder="Message"
          rows="6"
          required
        ></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
  <div class="col-lg-6 pt-3">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="/images/people.jpg"
      alt=""
    />
  </div>
</div>

<div
  class="rounded border mb-3"
  id="map"
  style="height: 600px; width: 100%;"
></div>
