<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      hello my name is glenn i want to be a web developer but Eckhard is telling
      us that it is going to be very difficult i don't want to have a private
      life i only want to code and that is it i hope i will love this keyboard
      but we are going to have german class too with our 1 year course, but it
      doesn't stop there. We are going to have access to pluralsight where i
      cannot wait to get my hands dirty. Anyhow i am really interested with web
      development, but i think i can manage my time to be able to learn online
      marketing and the ever difficult german language course. i already have a
      b1 certificate now DCI will also to train me to get the b2 exams. I dont
      understand why the people panic soo much about the corona pendemic. Its an
      utter nonsense oder auf deutsch keine sinn. 9+ this keyboard is actially
      ugly.dddd i dont know but i am a little comfortable using this keyboard
      than that uglz lenovo traditional keyboard. I cannot explain why but when
      you started touching a mechanical keyboard, you can never comback to that
      rubbish ruber keyboard. i think this is a revolutionary keyboard, and i
      really love it. but there are some flaws with the arrangement of the keys.
      i wish this was a little bit wider where the arrow keys doesnt disturb the
      enter key that i also wish would be a little bigger. i think it is very
      unfair why i get a keyboard with an english layout.
    </p>
  </body>
</html>
